@font-face {
    font-family: 'windlass';
    src: url('/fonts/Windlass.ttf');
}

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vh;

}
button {
    background-color: white;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

main {
    margin-top: 3vh;
}





/* Heads */

h1 {
    font-size: 4vh;
    font-family: 'windlass';
    text-align: center;
}

h2 {
    font-size: 2.5vh;
    font-family: 'windlass';
    text-align: center;
}
h3 {
    display: none;
}


/* profil utilisateur */

.list {
    display: flex;
    justify-content: end;
    margin-right: 3vw;
    margin-bottom: 3vh;

}

.profileUser {
    margin-top: 1vh;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;

}

#userProfilePicture {
    display: flex;
    justify-content: baseline;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
   
}


#currentUsername {
    margin-top: 12px;
    margin-left: 12px;
    padding-bottom: 20px;
    
}



/* header */

header {
    display: flex;
    flex-flow: column;



}




.containerButton {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.containerLogo {
    width: 50%;


}

#logo {
    width: fit-content;
    max-width: 100%;
    max-height: 100%;



}





.buttonHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 21px;
    padding-right: 1vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

#themeButton {
    border-radius: 20px;
    padding: 2vh;
    height: 22%;
    margin-right: 2vh;

    border: 1px solid;

}

.langButton {
    width: 30%;
    height: fit-content;
    

}


#flag {
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
}


.containerLogo a {
    position: absolute;
    top: 0;
    left: 0;
}



 /* Nav */

 .containerNav {
    display: flex;
    flex-direction: row;
 }

nav {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    padding-top: 1vh;

}

.nav {
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    padding-bottom: 4vh;
    margin-left: 3vh;
    margin-right: 3vh;
    border-radius: 10px;
}

#userHam {
    text-align: end;
}

.nav ul {
    list-style : none;
  
}

.nav li {
    margin-top: 1vh;
    
}





/* Page création*/

.containerCreation {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.containerNavMain {
    display: flex;
    flex-direction: row-reverse;
    gap: 5vw;
    margin-top: 3vh;
    border-top: 1px solid black;
    border-radius: 10px;
    padding-top: 3vh;
}

.containerNavMain button, input {
    width: 25vw;
    border: 1px solid black;
    border-radius: 20px;

}
.containerNavMain input {
    width: 60vw;
    height: 3vh;
    padding-left: 1vw;
    

}





.containerTitleCreation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7vw;
    margin-bottom: 2vh;
    margin-top: 3vh;
    align-items: center;

}

.rowWorld {
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;

}

.rowWorld a {
    width: fit-content;
    height: fit-content;

}

.rowWorld img {
    width: 25vw;
    height: auto;
    max-width: 25vw;
    max-height: auto;

}
.containerLegend {
    max-width: 20%;
    text-align: center;
    font-family: 'windlass';
    font-size: 2vh;
    word-wrap: break-word;



}


/* Fin page création */

/* Page World */

.containerGlobal {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.containerWorld {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}
.previewWorld {
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(228, 228, 228) 1px solid;
    border-radius: 20px;
    width: 80%;
}

.containerTitleWorld {
    display: flex;
    width: 100%;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.previewWorld img {
    width: 50%;
}



.containerRowButtonsWorld {
    display: flex;
    gap: 20vw;
    margin-bottom: 2vh;
}

.containerRowButtonsWorld button {
    width: 35vw;
    height: 4vh;
    border-radius: 20px;
}


.ulParams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    padding-bottom: 1vh;

    

}

.hamParams button {
    background-color: white;
    border: none;
    margin-bottom: 1vh;
    margin-top: 1vh;

}
.hamParams {
    display: flex;
    justify-content: end;
}


.containerPreview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    border-radius: 20px;
    width: 90%;
    padding-top: 3vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 3vh;
}

.containerRowUsers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vw;
    width: 100%;
}


.containerSharedUsers {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 5vh;
    padding-top: 2vh;
    width: 90%;
    margin-bottom: 6vh;
   

}
.containerRowUsers ul {
    width:20%;
    text-align: center;
    word-wrap: break-word;
    margin-top: 3vh;
    



}

.containerRowUsers img {
    border-radius: 50px;

}

.usernameShared {
    text-align: center;
    word-wrap: break-word;
}
/* Fin page world */

/* WORKSPACE 
*/ 



/* SIDEBARE WORKSPACE*/

.containerSidebar {
    position: fixed;
    top: 0;
    right: 92%;
    height: 100%;

}

.containerSidebar button {
    position: fixed;
    top: 50%;
    width : 10vw;
    height: 10%;

}

.containerHeaderWorkspace {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;
    align-items: center;

}
.rootChanger {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    align-items: center;
    margin-left: 60%;
    overflow: hidden;
    margin-bottom: 2vh;

}
.rootChanger button {
    width: 35vw;



}

.rootChanger ul {
    border: white 1px solid;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 3vw;
    border-radius: 20px;
}
.rootChanger li {
    margin-top: 1vh;
}
.rootChanger a {
    color: white;
}

.listNewElement {
    border: #000 1px solid;
    border-radius: 20px;
    padding: 1vh;
    margin-bottom: 2vh;
    text-align: center;
}

.listNewElement li {
    margin-top: 0.8vh;
}

.listNewElement a {
    color: #000;
}

.treeCollapse {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.treeCollapse img {
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50px;
    margin-left: 2vw;
}

.treeCollapse li {
    display: flex;
    flex-direction: column;
    
}

.treeElement {
}

.treeElement a {
    display: flex;
    align-items: center;
    margin-top: 1vh;
   
    
}

.treeElement p {
    overflow: hidden;
    width: 80%;

}



.containerMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1vw;
    align-items: end;
    height: 100%;
    min-height: 100vh;
   

}

.containerTree{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 2vh;
    border: #000 solid 1px;
    border-radius: 20px;
    padding: 2vh;
    min-height: 80vh;
    justify-content: flex-start;
}

.containerTreeTitle {
    width: 80%;
}

#searchBar {
    width: 100%;
    padding-left: 1vh;
}

.containerRowBtnWorkspace {
display: flex;
flex-direction: column;
align-items: flex-end;
border-bottom: 1px solid black;
padding-bottom: 1vh;
margin-bottom: 2vh;
}

.containerRowBtnWorkspace button {
    width: 26%;
    margin-bottom: 2vh;;
    margin-right: 2.2vw;
}
.containerFilesTree {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 
FIN WORKSPACE
*/

/* FORM */


.containerForm {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-left: 5vh;
    margin-right: 5vh;
    
}
form   {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    outline: none;
    width: fit-content;
    

}

.containerForm input {
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 1vh;
    width: 60vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
    margin-left: 8vw;
    padding-top: 1vh;
    padding-left: 1vw;
}

.container {
    padding-left: 5vh;
    padding-right: 5vh;
}

.containerTitle {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    margin-left: -1vh;
}

.title {
    width: fit-content;
    padding-bottom: 7vh;
    padding-top: 6vh;
    padding-left: 7vh;
    padding-right: 7vh;
    

}

fieldset {
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    padding-left: 3vh;
    padding-right: 3vh;;
    
}

.containerForm fieldset {
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-right: 3vh;
}
.containerForm legend {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 8vw;


 }

/* btn radio */


.formRadio {
    display: flex;
    flex-direction: row;
    margin-left: 4vh;
    margin-top: 3vh;
}

.radio {
    margin-right: 2vh;

}

.formRadio input {
    width: auto;
}


 /* Bouton form */
 .btn, .btnRedirection {
    margin-left: 3vh;
    text-align: center;
 }
 
.btnRedirection {
    margin-top: 2vh;
}

.btn {
    margin-bottom: 1vh;
}
fieldset button {
    border: solid 2px black;
    border-radius: 30px;
    background-color: white;
    width: 40vw;
    height: 5vh;

 }


#connect button {
    background-color: blueviolet;
}

#connect{
    margin-bottom: 4vh;
    background-color: blueviolet;

 }

#passForgot {
    border: none;


 }



/* POST */

.containerDiv {
    display: flex;
    justify-content: center;
}

.containerPost {
    width: 80%;
    height: auto;
    border-top: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-top: 6vh;
    padding-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 1vh;
    align-items: center;


}

#userPreviewImage {
    border-radius: 50%;
    margin-left: 10px;
}

.circle { 
    height: 2vh;  
    width: 2vh;
    size-adjust: 50%;
    border: solid 1px;
    background-color: gray; 
    border-radius: 50%;  
    display: inline-block;
    margin-top: 17px;
    margin-left: 2vh;
    margin-right: 2vw;
}

.textTime {
    margin: auto;
}





.post {
    display: flex;
    margin-top: 3vh;

    margin-right: 1vw ;


}
.post a {
    width: fit-content;
}

.buttonUser {
    height: 10vh;
    
    
    
}
.buttonAuthor {
    margin: auto;
    margin-left: 1vw;
}

.anchorImage {
    width: 80%;
    height: auto;
    
    
}


.containerImage {
    padding: 2vh;
    padding-left: 6vh;
    padding-right: 6vh;

}

.textPost {
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: calc(0.5rem + 1.5vw);
    margin-bottom: 2vh;
}
.previewImage {
    max-height: 512px;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;


    
}

.containerTitlePost {


    width: 100%;
    text-align: center;

}

.containerTagsPost {
    width: 100%;
    display: flex;
    flex-direction: row;
    border : #000 1px solid;
    border-radius : 20px;
    gap : 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    padding-left: 1vw;
    margin-bottom: 2vh;
    text-align: start;
    
}


.titlePost {
    display: block;
    text-align: start;
    border: #000 1px solid;
    border-radius: 20px;
    width: 98%;
    height: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    padding-left: 2vw;
    margin-bottom: 2vh;
}

.containerButtonPreview {
    font-family: 'windlass';
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

}

.containerButtonPreview div {
    width: 80%;
    margin-bottom: 3vh;
}

.buttonPreview {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    padding: 1vh;
}

.pictoPreview {
    width: 25%;

}


/* burger menu */

.collapseHide {
    display: flex;
    flex-direction: column;
}

.hide {
    display : none;
}

/* burger menu */


/** FOOTER 
*/


.containerCopyright {
    text-align: center;
    margin-bottom: 2vh;
}

@media screen and (min-width:920px) {

    #logo {
        size: 50%;
        
    }

    .containerLogo {
        width: 20%;


    }
    #themeButton {
        border-radius: 20px;
        padding: 2vh;
        height: 10%;
        margin-right: 2vh;
        border: 1px solid;
    
    }
    input {
        border: 1px solid black;
        border-radius: 30px;
        width: 40vw;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }

    .containerForm legend {
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    
    
     }
     .langButton {
        margin-left: 50vw;
        width: 7%;

     }

     .list {
        display: flex;
        justify-content: end;
        margin-right: 20vw;

    
    }
    .containerButtonPreview {
        font-family: 'windlass';
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        gap: 2vw;
    
    }
    
    .containerButtonPreview div {
        display: flex;
        width: 10vw;
        margin-bottom: 3vh;
        justify-content: flex-start;

        
    }
    
    .buttonPreview {
        border: 2px solid black;
        border-radius: 20px;
        width: 10vw;
        padding: 1vh;
    }
    
    .pictoPreview {
        width: 20%;
        height: auto;
        margin-right: 2vw;
    
    }
    .buttonUser {
        display: flex;
        width: 100%;
        
    }
    #responsiveMobile {
        display: none;
    }

    #responsive {
        display: none;
    }
    h3 {
        display: block;
        margin-right: 1vw;
    }
    nav {
        gap: 4vw;
        font-size: 1.7vw;
        font-family: 'windlass';
        margin-left: 2vw;

    }
    

    #responsiveNavHam {
        display: flex;
        flex-direction: column;
    }
    .collapseUserHam {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #responsiveUserHam {
        display: flex;
        flex-direction: row;
    }


    .collapse {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        
    }
    .anchorImage {
        width: 40%;
        height: auto;
        
        
    
    }

    .responsiveHide {
        display: inline-block;
        align-items: center;
    }

    .containerNavMain {
        display: flex;
        flex-direction: row;
    }

    .containerTitleCreation {
        gap: 20vw;

    }

    
    .form legend {
        margin-left: 8.5vw;

        
    }


    /*Responsive WORLD */

    .containerSharedUsers {
        width: 60%;
    }

    .containerRowButtonsWorld button {
        width: 19vw;
        height: 6vh;
        border-radius: 20px;
    }

    .ulParams {
        width: 19vw;
    }
}




